*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the background image and container color */
body{
    background-image: url("https://i.pinimg.com/originals/cb/10/9d/cb109d5d1402ae804422a89aa168da00.jpg");
    object-fit: contain;
    font-family: serif;
    background-attachment: fixed;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}
.container{
    background:rgba(255, 255, 255, 0.2);
}

/* Set the font */
.body-content {
    padding: 5px;
    margin-top:5vh;
}

/* Set the main content styling */
.article{
    background-color:rgba(255, 255, 255, 0.9);
    padding:20px;
    border: 1px solid black;
    margin: 20px;
    transition: background-color 1s ease;
}

.article:hover{
    background:white;
}

/* Styling for the read more button */
.main-content{
    border-top: 1px solid gray;
}
.open-blog{
    text-align: right;
}

.open-blog button{
    margin-top: 10px;
}

.rounded-circle{
    width: 125px;
    height: 125px;
}
.card-area{
    display: flex;
    background-color: white;
    height:40vh;
    margin-top: 20vh;
}
.card{
    margin: 2vw;
    margin-top: 5vh;
    height:30vh;
}